.App {
  font-family: sans-serif;
  color: rgb(214, 203, 239);
  text-align: center;
  background-color:slateblue;
  padding: 5%;
  border-style:outset;
  border-radius: 30px;
}
.btn {
  border-style: double;
  border-radius: 10px;
  background-color: black;
  color: aliceblue;
}
